body {
    font-family: sans-serif;
    background-color: #07caca;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    border-radius: 20px;
    border-top: 30px solid  #a30303;
    
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

h1, h2 {
    text-align: center;
}

form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

form input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: #03aaaa;
    color: #fff;
    cursor: pointer;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
}

.pokemon-card {
    background: #03a353;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

.pokemon-card img {
    width: 150px;
    height: 150px;
}
